.custom-margin{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    padding: 20px;
    margin-left: 10%;
}
.btn-primary{
    margin-right: 10px;
}
.box{
    border: 2px solid black;
    border-radius: 10px;
}
.header{
    text-align: center;
}
/* git init for initializing a local repository
git add . to add all your files that the local repository
git commit -m ‘commit message’ to save the changes you made to those files 
To push the main repo, you first have to add the remote server to Git by running git remote add <url>.

To confirm the remote has been added, run git remote -v:

To finally push the repo, run git push -u origin <branch-name>
(“main” is the name of that branch for me). It could be master or Main for you. Initially, it was “master”, so I ran git branch -M main to change it.

As a reminder, to create a new branch, you run git branch branch-name. And to switch to that branch so you can work there, you have to run git switch branch name or git checkout branch-name.

To push the branch to the remote server, run git push –u origin <branch name>. In my case, the name of that branch is bug-fixes. So, I have to run git push -u origin bug-fixes:
*/